@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";
@import "dataTables/jquery.dataTables";
@import 'datetime_picker_input';

.center-text-h{
  text-align: center;
}
.center-text-v{
  vertical-align: middle !important;
}
.last-fee{
  font-weight: bold;
  color: #870808;
}
